<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/classy-nav.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="core.js"></script>
           
    <title>Desafio Grupo ZAP - Javascript - Francisco Mat</title>

    <!--link rel="icon" href="favicon.ico"-->

    <link rel="stylesheet" href="style.css">

</head>

<body>

<div id="app">
    <!-- Preloader -->
    <div id="preloader" v-if="loading">
        <div class="south-load"></div>
    </div>
	
    <header-top></header-top>
    
    <featured-slide-list v-bind:data="dataSlider" v-if="currentComponent==='DDDfeatured-list'"></featured-slide-list>
    
    <!--search-area></search-area-->
	
	<!--div v-bind:is="currentComponent" v-bind:data="data"-->

    <featured-list v-bind:data="data"></featured-list>

    <!--call-action></call-action-->
    
    <!--testimonials></testimonials-->
   
    <!--person></person-->
    
    <!--footer-end></footer-end-->
</div>
<script src="js/active.js"></script>
    
<script src="core.js"></script></body>

</html>